Repository jgtolentino/ai-aas-hardened-lakehouse, changes with the labels that .github/labeler.yml gives for each.
All labels: area/infra, area/backend, area/frontend, area/data, area/dbt, area/security, area/ci, type/docs, deps

.github/labeler.yml:

# .github/labeler.yml
area/infra:
  - ".github/**"
  - "infra/**"
area/backend:
  - "apps/**"
  - "services/**"
  - "backend/**"
area/frontend:
  - "apps/**/app/**"
  - "apps/**/components/**"
area/data:
  - "data/**"
  - "pipelines/**"
area/dbt:
  - "dbt/**"
area/security:
  - "security/**"
  - ".github/workflows/security*.yml"
area/ci:
  - ".github/workflows/**"

type/docs:
  - "**/*.md"
  - "docs/**"

deps:
  - "package.json"
  - "pnpm-lock.yaml"
  - "requirements.txt"
  - "**/pyproject.toml"

# Dependabot PRs
"deps, area/ci":
  - any: ["**"]
    createdBy: "dependabot[bot]"

fix: use valid Docker image tags in security workflows
  .github/workflows/security.yml
Labels: area/infra, area/security, area/ci

sec: add Polaris audit workflow (pinned 10.1.0, score gates, artifacts)
  .github/workflows/k8s-policy-gate.yml
  .github/workflows/polaris-audit.yml
  .polaris.yaml
  scripts/ci/dispatch-workflow.sh
  scripts/test-polaris-locally.sh
Labels: area/infra, area/ci

ci(security): deterministic Semgrep+Trivy via CLI; secrets-optional; JSON artifacts; strict gates
  .github/workflows/security.yml
Labels: area/infra, area/security, area/ci

feat: add comprehensive security scanning workflows
  .github/workflows/grype-scan.yml
  .github/workflows/kube-validate.yml
  .github/workflows/release-provenance.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/security.yml
  .grype.yaml
  Dockerfile
  docs-site/docs/agents/scout-docs-writer.mdx
  docs-site/wiki/Agents.md
  docs-site/wiki/scout-docs-writer.md
Labels: area/infra, area/security, area/ci, type/docs

docs(ci): add docs-verify workflow, coverage+orphan guard, lint configs, scripts
  .github/workflows/docs-verify.yml
  .markdownlint.jsonc
  docs-site/.remarkrc.mjs
  package.json
  scripts/check-doc-coverage.mjs
Labels: area/infra, area/ci, deps

build: pin Node/pnpm; regenerate pnpm-lock.yaml deterministically
  .npmrc
  package.json
  pnpm-lock.yaml
Labels: deps

build(docker): pin Node/pnpm via Corepack; enforce --frozen-lockfile; add .dockerignore
  .dockerignore
  Dockerfile
Labels: none

sec(grype): gate on SBOM (Syft) to decouple from Docker; image scan best-effort
  .github/workflows/grype-scan.yml
Labels: area/infra, area/ci

fix(docker): handle missing build script gracefully
  Dockerfile
Labels: none

feat: integrate Azure theme and Scout landing page
  docs-site/docs/agents/docs-writer.mdx
  docs-site/src/components/HomepageFeatures/index.js
  docs-site/src/components/HomepageFeatures/styles.module.css
  docs-site/src/css/azure-theme.css
  docs-site/src/css/custom.css
  docs-site/src/pages/index.js
  docs-site/src/pages/index.module.css
  docs-site/wiki/docs-writer.md
  scripts/generate-agent-docs.mjs
Labels: type/docs

fix: resolve MDX compilation errors and add missing assets
  docs-site/docs/architecture/overview.md
  docs-site/docs/assets/diagrams/scout-schema-erd.svg
  docs-site/docs/assets/diagrams/security-architecture.svg
  docs-site/docs/assets/diagrams/system-overview.svg
Labels: type/docs

fix: resolve favicon 404 and complete Azure theme integration
  docs-site/sidebars.ts
  docs-site/static/img/favicon.ico
  docs-site/static/img/logo.svg
Labels: none

fix(docker): simplify build fallback for turbo monorepo
  Dockerfile
Labels: none

feat: add AI chat assistant and SQL playground
  docs-site/package.json
  docs-site/src/components/AIChat/index.js
  docs-site/src/components/AIChat/styles.module.css
  docs-site/src/pages/index.js
  docs-site/src/pages/playground.js
  docs-site/src/pages/playground.module.css
  docs-site/src/theme/Root.js
Labels: none

feat: add comprehensive Scout Dashboard with Tableau-style layout
  docs-site/src/pages/dashboard.js
  docs-site/src/pages/dashboard.module.css
Labels: none

feat(docs): add AI chat component, SQL playground, and dashboard enhancements
  docs-site/package.json
  docs-site/src/components/AdvancedDataGrid.js
  docs-site/src/components/AdvancedDataGrid.module.css
  docs-site/src/pages/scout-advanced.js
  docs-site/src/pages/scout-advanced.module.css
  docs-site/src/pages/scout.js
  docs-site/src/pages/scout.module.css
  docs-site/src/services/openai-service.js
Labels: none

feat(ci): update docs deployment to use pnpm and support feature branch
  .github/workflows/docs-deploy.yml
Labels: area/infra, area/ci

fix(deps): update lockfile for docs-site dependencies
  pnpm-lock.yaml
Labels: deps
