Repository jgtolentino/ai-aas-hardened-lakehouse, changes with the owners that CODEOWNERS names for each.
All owners: @jgtolentino, @D-Chan, @A-Lopez, @J-Rivera, @K-Smith, @M-Santos, @T-Bautista, @L-Wong

CODEOWNERS:

# CODEOWNERS for ai-aas-hardened-lakehouse

# Default owners for everything
* @jgtolentino

# Frontend applications
/apps/scout-dashboard/ @D-Chan @A-Lopez
/apps/scout-ui/ @D-Chan
/apps/pi-edge/ @A-Lopez

# Backend services
/packages/contracts/ @J-Rivera @K-Smith
/packages/services/ @J-Rivera
/infra/mcp-hub/ @jgtolentino @K-Smith

# Lakehouse core
/platform/lakehouse/ @jgtolentino @M-Santos
/platform/scout/migrations/ @M-Santos
/platform/scout/ @jgtolentino @J-Rivera

# Superset assets
/platform/superset/ @jgtolentino @M-Santos

# Security / policies
/platform/security/ @jgtolentino @J-Rivera
/security/ @jgtolentino @J-Rivera
/.gitleaks.toml @jgtolentino
/.trivyignore @jgtolentino

# CI/CD and GitHub Actions
/.github/ @jgtolentino @K-Smith
/.github/workflows/docs-verify.yml @jgtolentino @D-Chan

# Documentation ownership
/docs/** @jgtolentino @T-Bautista
/docs/scout/** @D-Chan @J-Rivera @M-Santos
/docs/scout/PRD.md @jgtolentino @D-Chan @J-Rivera
/docs/scout/ICD.md @J-Rivera @D-Chan
/docs/scout/WIREFRAMES.md @D-Chan
/docs/scout/ACCESSIBILITY.md @D-Chan @L-Wong
/docs/claude/** @jgtolentino
/docs/platform/** @jgtolentino @K-Smith
/*.md @jgtolentino

# Testing
/tests/ @L-Wong
/e2e/ @L-Wong
/**/*.test.ts @L-Wong
/**/*.test.tsx @L-Wong

# Tooling
/tools/ @K-Smith @J-Rivera
/tools/docs/ @jgtolentino @D-Chan
/tools/contracts/ @J-Rivera
/scripts/ @K-Smith

# Configuration files
/.env.example @jgtolentino
/turbo.json @K-Smith
/pnpm-workspace.yaml @K-Smith
/package.json @jgtolentino @K-Smith
/Makefile @K-Smith

feat: Complete Enterprise Automation System with CI/CD Playbook
  SCOUT_V6_IMPLEMENTATION.md
  START_FIGMA_MCP.md
  apps/scout-dashboard/app/ai/page.tsx
  apps/scout-dashboard/app/competitive/page.tsx
  apps/scout-dashboard/app/consumers/page.tsx
  apps/scout-dashboard/app/geography/page.tsx
  apps/scout-dashboard/app/mix/page.tsx
  apps/scout-dashboard/app/overview/page.tsx
  apps/scout-dashboard/dashboard.config.json
  apps/scout-dashboard/src/data/hooks.ts
  apps/scout-dashboard/src/data/supabase.ts
  apps/scout-dashboard/src/store/useFilters.ts
  apps/scout-ui/src/components/Kpi/KpiCard.tsx
  apps/scout-ui/src/components/Skeleton.tsx
  commit-scout-v6.sh
  docs/PRD/PRD-SCOUT-UI-v6.0.md
  infra/mcp-hub/src/adapters/figma-proxy.js
  infra/mcp-hub/src/openapi.js
  infra/mcp-hub/src/server.js
  migration_script.sql
  packages/contracts/src/scout.ts
  validate-scout-v6.sh
Owners: @jgtolentino, @D-Chan, @A-Lopez, @T-Bautista, @K-Smith, @J-Rivera

🎨 Integrate Scout Dashboard with Finebank Design System via Code Connect
  apps/scout-dashboard/FINEBANK_INTEGRATION.md
  apps/scout-dashboard/app/(main)/layout.tsx
  apps/scout-dashboard/app/analytics/page.tsx
  apps/scout-dashboard/app/finebank/page.tsx
  apps/scout-dashboard/app/layout.tsx
  apps/scout-dashboard/app/overview/page.tsx
  apps/scout-dashboard/app/page.tsx
  apps/scout-dashboard/app/reports/page.tsx
  apps/scout-dashboard/docs/FIGMA_INTEGRATION.md
  apps/scout-dashboard/figma.config.json
  apps/scout-dashboard/package.json
  apps/scout-dashboard/scripts/setup-figma-code-connect.sh
  apps/scout-dashboard/src/components/ai/RecommendationPanel.figma.tsx
  apps/scout-dashboard/src/components/charts/AnalyticsChart.figma.tsx
  apps/scout-dashboard/src/components/layout/Sidebar.figma.tsx
  apps/scout-dashboard/src/components/scout/KpiCard/index.figma.tsx
  apps/scout-dashboard/src/components/tabs/OverviewTab.figma.tsx
  apps/scout-dashboard/src/styles/app.css
  apps/scout-dashboard/src/styles/finebank-design-system.css
  apps/scout-dashboard/tailwind.config.ts
Owners: @D-Chan, @A-Lopez

docs: add comprehensive Documentation Index to root README
  README.md
Owners: @jgtolentino

fix: Add Dependabot skip condition to security workflow and management tools
  .github/workflows/dependabot-management.yml
  .github/workflows/security-scan.yml
  scripts/dependabot-auto-merge.sh
  scripts/dependabot-recreate-failing.sh
  scripts/dependabot-verify-status.sh
  vercel.json
Owners: @jgtolentino, @K-Smith

fix: Correct Dependabot actor name in security workflow skip condition
  .github/workflows/security-scan.yml
Owners: @jgtolentino, @K-Smith

ci: systemic reset — PR_TARGET security scan, skip bot workflows, disable Dependabot temporarily
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dataset-publisher-tests.yml
  .github/workflows/security-scan.yml
Owners: @jgtolentino, @K-Smith

chore(dependabot): re-enable with strict throttling, grouping, and direct-deps only
  .github/dependabot.yml
Owners: @jgtolentino, @K-Smith

test(ci): bot skip validation
  .ci/_bot_skip_check.txt
Owners: @jgtolentino

test(ci): human validation
  .ci/_human_check.txt
Owners: @jgtolentino

test(ci): human validation - trigger workflows
  .ci/_human_check.txt
Owners: @jgtolentino

ci: add Universal CI workflow for all PRs
  .github/workflows/universal-ci.yml
Owners: @jgtolentino, @K-Smith

fix: simplify Vercel config for static deployment
  public/index.html
  vercel.json
Owners: @jgtolentino

fix: clean up Universal CI workflow formatting
  .github/workflows/universal-ci.yml
Owners: @jgtolentino, @K-Smith

fix: apply working Vercel configuration
  public/index.html
  vercel.json
Owners: @jgtolentino

docs(ci): adopt Supabase-style separation — docs-only workflow, API integration
  .github/workflows/docs-site.yml
  package.json
  typedoc.json
Owners: @jgtolentino, @K-Smith

fix: Convert Universal CI to pull_request_target for immediate PR fixes
  .github/workflows/universal-ci.yml
Owners: @jgtolentino, @K-Smith

docs: Add comprehensive MCP integration documentation and testing
  MCP_INTEGRATION_STATUS.md
  SUPABASE_MCP_SETUP_COMPLETE.md
  claude_desktop_config_snippet.json
  test-mcp-scout.sh
  test-supabase-connection.js
Owners: @jgtolentino

docs(schema): auto-sync documentation update
  platform/scout/docs/SCHEMA_CHANGELOG.md
  platform/scout/docs/api/README.md
  platform/scout/docs/database/README.md
  platform/scout/docs/database/erd/README.md
  platform/scout/docs/database/erd/graphviz/scout-platform-erd.dot
  platform/scout/docs/database/erd/mermaid/bronze-layer.mmd
  platform/scout/docs/database/erd/mermaid/complete-erd.mmd
  platform/scout/docs/database/erd/mermaid/convert_dbml_to_mermaid.py
  platform/scout/docs/database/erd/mermaid/gold-layer.mmd
  platform/scout/docs/database/erd/mermaid/governance-layer.mmd
  platform/scout/docs/database/erd/mermaid/platinum-layer.mmd
  platform/scout/docs/database/erd/mermaid/silver-layer.mmd
  platform/scout/docs/database/erd/sql/scout-platform-schema.sql
  platform/scout/docs/database/schema-metadata.md
  platform/scout/docs/database/scout-platform-schema.dbml
Owners: @jgtolentino, @J-Rivera

feat: Deploy Neural DB Workbench
  apps/scout-dashboard/app/api/workbench/health/route.ts
  apps/scout-dashboard/app/workbench/page.tsx
Owners: @D-Chan, @A-Lopez

fix: Configure Vercel environment variables for Neural DB Workbench
  apps/neural-workbench/vercel.json
Owners: @jgtolentino

feat(streamlit): add dashboard_v6.py as main app with Lesson 7 CSV viewer and filters
  scout-analytics-framework/modules/scout_v6/dashboard_v6.py
Owners: @jgtolentino

feat: implement TBWA Neural Workbench v2.0 Streamlit application
  apps/neural-workbench-streamlit/.streamlit/config.toml
  apps/neural-workbench-streamlit/DEPLOYMENT.md
  apps/neural-workbench-streamlit/LAUNCH_SUMMARY.md
  apps/neural-workbench-streamlit/README.md
  apps/neural-workbench-streamlit/launch.sh
  apps/neural-workbench-streamlit/lib/__init__.py
  apps/neural-workbench-streamlit/lib/supabase_client.py
  apps/neural-workbench-streamlit/requirements.txt
  apps/neural-workbench-streamlit/sample_data.csv
  apps/neural-workbench-streamlit/streamlit_app.py
Owners: @jgtolentino
